@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
:root {
  --primary-color: #ea7c69;
  --secondary-color: #9288e0;
  --white: #fff;
  --text---dark: #3b5162;
  --text-gray: #889898;
  --text-light: #abbbc2;
  --text---lighter: #e0e6e9;
  --base---bg: #fafafa;
  --base---dark-line: #393c49;
  --base---dark-bg-1: #252836;
  --base---dark-bg-2: #1f1d2b;
  --base---form-bg: #2d303e;
  --accents---green: #50d1aa;
  --accents---red: #ff7ca3;
  --accents---orange: #ffb572;
  --accents---blue: #65b0f6;
  --accents---purple: #9290fe;
}

body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
  background: var(--base---dark-bg-1);
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site__header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: var(--white);
}
.header__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--text---lighter);
}
.header__block {
  width: 633px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__search {
  background-color: var(--base---form-bg);
  border: 1px solid var(--base---dark-line);
  border-radius: 8px;
  padding: 14px 14px 14px 42px;
  width: 220px;
}
.header__form {
  position: relative;
}
.header__search__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(25%, -50%);
}
.tab__btn__list {
  width: 481px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 74px;
}
.tab_btn {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: var(--white);
  cursor: pointer;
}
.tab_item {
  padding: 24px;
  text-align: center;
  border-radius: 16px;
  background-color: var(--base---dark-bg-2);
  width: 192px;
  position: relative;
  padding-top: 114px;
}
.tab_item_img_box {
  left: 50%;
  top: 0%;
  transform: translate(-50%, -30%);
  position: absolute;
}
.img {
  border-radius: 50%;
  width: 132px;
  height: 132px;
}
.tab_item_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: var(--white);
  margin-bottom: 8px;
}
.tab_item_text_1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--white);
  margin-bottom: 4px;
}
.tab_item_text_2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--text-light);
}
.tab_items__list {
  width: 632px;
  row-gap: 56px;
  column-gap: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.bc {
  color: var(--primary-color);
  padding-bottom: 13px;
  border-bottom: solid 3px var(--primary-color);
}
.main__wrapper {
  display: flex;
  gap: 36px;
}
.tab_wrap {
  padding-left: 100px;
}
.products_sec {
  position: relative;
  border-radius: 8px;
  padding: 48px;
  width: 509px;
  background-color: var(--base---dark-bg-2);
}
.products__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--white);
  margin-bottom: 24px;
}
.products__category_list {
  width: 214px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.products__category_btn {
  border: 1px solid var(--base---dark-line);
  border-radius: 8px;
  padding: 7px 12px;
  background-color: var(--base---dark-bg-2);
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: var(--primary-color);
}
.products__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.products__text_wrap {
  display: flex;
  gap: 43px;
  align-items: center;
}
.products__description_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--white);
}
.products_list {
  padding-top: 24px;
  border-top: 1px solid var(--base---dark-line);
}
.products_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products_item_main {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pr_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.products_item_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: var(--white);
}
.products_item_price {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: var(--text-light);
}
.products_item_sum {
  border: 1px solid var(--base---dark-line);
  border-radius: 8px;
  padding: 14px 19px 14px 19px;
  background-color: var(--base---form-bg);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: var(--white);
}
.products_item_cost {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: var(--white);
}
.products_item_delete {
  border: 1px solid var(--accents---red);
  border-radius: 8px;
  padding: 14px;
  background-color: transparent;
}
.products_item_des {
  display: flex;
  align-items: center;
  gap: 21px;
}
.pay_btn {
  margin-top: 42px;
  border: none;
  border-radius: 8px;
  padding: 14px 116px 14px 116px;
  box-shadow: 0 8px 24px 0 rgba(234, 124, 105, 0.3);
  background-color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: var(--base---bg);
  cursor: pointer;
}
.discount {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--text-light);
}
.discount_cost {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: var(--white);
}
.Sub_total {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--text-light);
}
.Sub_total_cost {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: var(--white);
}
.sum__banner {
  bottom: 0;
  position: fixed;
  width: 361px;
  padding-top: 24px;
  border-top: 1px solid;
  color: var(--base---dark-line);
  left: 50%;
  transform: translatex(35%);
}

.tw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.tw_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__category_list {
  width: 300px;
  gap: 8px;
}

.products_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
